*{
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 200px;
    height: 100px;
    position: relative;
}

.circle{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

.blue{
    background-color: #0063DC;
}
.pink{
    background-color: #FF0084;
}

.right{
    right: 0%;
}

/*Animaciones*/
.blueMove{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: blueMove;
            animation-name: blueMove;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes blueMove{
    50%{-webkit-transform: translate(100px, 0);transform: translate(100px, 0);}
    100%{z-index: 100}
}

@keyframes blueMove{
    50%{-webkit-transform: translate(100px, 0);transform: translate(100px, 0);}
    100%{z-index: 100}
}

.pinkMove{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-name: pinkMove;
            animation-name: pinkMove;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes pinkMove{
    50%{-webkit-transform: translate(-100px, 0);transform: translate(-100px, 0);}
}

@keyframes pinkMove{
    50%{-webkit-transform: translate(-100px, 0);transform: translate(-100px, 0);}
}